.main {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 15px;
}

.main p {
    font-size: 22px;
    line-height: 22px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    font-size: 12px !important;
    color: #fff !important;
}

.colorAutocomplete * {
    color: #ffffff !important;
}

/*---------------------------------------------------*/
.modal {
    background: radial-gradient(92.74% 92.74% at 50% 7.26%, #161616 0%, #000000 100%);
    padding: 20px;
    color: #fff;
    width: 75%;
    --borderWidth: 1px;
    position: relative;
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 5%;
}

.modal * {
    color: #fff !important;
}

.modal p {
    font-size: 22px;
    line-height: 27px;
    font-family: Montserrat, sans-serif;
}

.modal:after, .tableModal:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #4B74FF, #000, #fff);
    border-radius: calc(10 * var(--borderWidth));
    z-index: -1;
    animation: animatedGradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

/*--------------------------------*/
.large {
    width: 140px !important;
    height: 140px !important;
    z-index: 0;
    object-fit: cover;
}

.circle {
    width: 140px;
    height: 140px;
    border-radius: 75px;
    background-size: cover;
    overflow: hidden;
    position: relative;
    background-color: #CCCCCC;
    border: 1px solid #ccc;
}

.overlay {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 10px;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: top 0.5s;
}

.filter {
    display: flex;
}

.add {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
}

.circle:hover .overlay {
    top: 0 !important;
}

.overlay img {
    margin: 50px -20px -20px;
}

.camera {
    cursor: pointer;
}

.contacts p {
    font-size: 18px;
}

.addPlus {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 15px;
}

.action {
    text-align: right;
}

.action1 {
    text-align: right;
    margin-top: 20px;
    margin-left: auto;
}

/*------------------------------------------Table*/
.TakeAction {
    display: flex;
    justify-content: space-around;
}

/*------------------------*/
.tableModal {
    background: radial-gradient(92.74% 92.74% at 50% 7.26%, #161616 0%, #000000 100%);
    padding: 23px;
    color: #fff;
    width: 35%;
    --borderWidth: 1px;
    position: relative;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 32%;
}

.tableModal h3 {
    font-size: 22px;
    margin-top: -10px;
}

.modalData {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.modalData img {
    margin-right: 5px;
}

.close {
    position: absolute;
    top: 23px;
    right: 23px;
    cursor: pointer;
}

.modalContacts img {
    display: block;
    cursor: pointer;
    position: relative;
    margin-bottom: 5px;
}

.modalContacts {
    position: absolute;
    right: 20px;
    top: 50px;
}

.logo {
    position: absolute;
    right: 0;
    bottom: 0;
}

/*--------------------------------------------*/
.input {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.textField {
    margin-top: 15px;
}

.hr {
    opacity: 0.5;
    border: 1px solid #E0F8FF;
    color: #E0F8FF;
    margin-bottom: 20px;
    margin-top: 15px;
}

.map {
    margin-bottom: 15px
}

.tooltip {
    margin-right: 3px;
    font-size: 10px;
}

@keyframes animatedGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.fullName {
    font-size: 10px !important;
    margin: 0;

}

.org {
    display: inline-block;
    width: 80px;
    white-space: nowrap;
}

.gridContainer {
    margin-top: 30px;
}